<%= form_for @brew do |f| %>
	<p><%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :story %>
		<%= f.text_field :story %>
		<%= f.label :walkthrough %>
		<%= f.text_field :walkthrough %>
	</p>

<%= f.fields_for :hops do |test| %>
	<p>
<%=  test.label :name, "Hops" %>
<%=  test.text_field :name %>
	</p>

	<% end %>
	<p>
		<%= f.submit %> 
	</p>
<% end %>