
<h1><%= @brew.name %></h1>
  	<p><%= @brew.story %></p>
   	<p><%= @brew.walkthrough %></p>
<fieldset>		
<% @brew.fermentables.each do |fermentable| %>
  	<p><%=fermentable.name.capitalize %> |
<% end %>

<% @brew.hops.each do |hop| %>
  	<%=hop.name.capitalize %> |
<% end %>

<% @brew.yeasts.each do |yeasts| %>
  	<%=yeasts.name.capitalize %> |
<% end %>

<% @brew.extras.each do |extras| %>
  	<%=extras.name.capitalize %></p>
<% end %>
</fieldset>
<%= link_to "Edit", edit_brew_path %>
<%= link_to 'Home', root_path %>